---
import { cvAdvices, essentialSections, extraTips, tools } from '@/data';

import { Laptop, Lightbulb, Pin, ScrollText } from '@lucide/astro';

import CardSection from '@/components/astro/ui/card-section.astro';
import ItemList from '@/components/astro/ui/item-list/index.astro';
import PageHeader from '@/components/astro/ui/page-header.astro';
import Section from '@/components/astro/ui/section.astro';

import Background from '@/layouts/background.astro';
import MainLayout from '@/layouts/main-layout.astro';

const title = 'Ligue des Alternants | Comment rédiger son CV ?';
const description =
  "Découvrez nos conseils pratiques pour rédiger un CV efficace et percutant, adapté aux attentes des recruteurs dans le secteur de l'alternance.";
---

<MainLayout title={title} description={description}>
  <div class="page">
    <Background />

    <div class="text-muted-foreground container max-w-2xl text-base/7 lg:max-w-7xl">
      <PageHeader title="Comment réaliser un CV impactant ?" />

      <Section title="Pourquoi soigner son CV ?">
        <p class="mt-6 max-w-3xl">
          Le CV est votre première carte de visite auprès d'un recruteur. Il doit vous représenter
          fidèlement et donner envie de vous rencontrer pour un entretien.
        </p>
      </Section>

      <Section title="Les rubriques indispensables">
        <p class="mt-6 max-w-3xl">
          Un bon CV comporte plusieurs parties essentielles. Voici celles à ne pas oublier :
        </p>

        <ItemList items={essentialSections} Icon={Pin} />
      </Section>

      <Section title="Les règles d'or pour un bon CV">
        <p class="mt-6 max-w-3xl">Pour maximiser l'impact de votre CV, suivez ces conseils :</p>

        <ItemList items={cvAdvices} Icon={ScrollText} />
      </Section>

      <Section title="Avec quels outils créer son CV ?">
        <p class="mt-6 max-w-3xl">
          Plusieurs outils gratuits ou accessibles en ligne peuvent vous aider à réaliser un CV
          professionnel :
        </p>

        <ItemList items={tools} Icon={Laptop} />
      </Section>

      <Section title="Astuces supplémentaires">
        <p class="mt-6 max-w-3xl">Pour aller plus loin et éviter les erreurs courantes :</p>

        <ItemList items={extraTips} Icon={Lightbulb} />
      </Section>

      <CardSection
        title="Conclusion"
        description="Un bon CV est un CV qui vous ressemble, qui va droit au but et qui prouve que vous êtes prêt à intégrer une entreprise en alternance !"
        class="mt-32"
      />
    </div>
  </div>
</MainLayout>
