---
import { contacts, responsibilities, rights } from '@/data';

import RessourcesList from '@/components/astro/our-rights-and-responsibilities/ressources-list.astro';
import CardSection from '@/components/astro/ui/card-section.astro';
import ItemList from '@/components/astro/ui/item-list/index.astro';
import PageHeader from '@/components/astro/ui/page-header.astro';
import Section from '@/components/astro/ui/section.astro';

import Background from '@/layouts/background.astro';
import MainLayout from '@/layouts/main-layout.astro';

const title = 'Ligue des Alternants | Nos droits et devoirs en alternance';
const description =
  'Droits et devoirs en alternance : découvrez les aspects légaux, obligations contractuelles et conseils pour réussir votre parcours avec la Ligue des Alternants.';
---

<MainLayout title={title} description={description}>
  <div class="page">
    <Background />

    <div class="text-muted-foreground container max-w-2xl text-base/7 lg:max-w-7xl">
      <PageHeader title="Nos droits et devoirs en alternance" />

      <Section title="Les droits de l'alternant">
        <p class="mt-6 max-w-3xl">
          En tant qu'alternant ou apprenti, vous êtes salarié de l'entreprise sous contrat
          d'alternance. Vous bénéficiez donc de droits identiques à ceux des autres employés, tout
          en suivant une formation professionnelle :
        </p>

        <ItemList items={rights} />
      </Section>

      <Section title="Les devoirs de l'alternant">
        <p class="mt-6 max-w-3xl">
          L'alternance est un engagement professionnel et personnel. Voici les règles à suivre pour
          réussir votre parcours :
        </p>

        <ItemList items={responsibilities} />
      </Section>

      <Section title="En cas de problème">
        <p class="mt-6 max-w-3xl">Voici qui contacter en cas de difficulté :</p>

        <ItemList items={contacts} />
      </Section>

      <Section title="Ressources officielles">
        <p class="mt-6 max-w-3xl">Pour en savoir plus :</p>

        <RessourcesList />
      </Section>

      <CardSection
        title="Conclusion"
        description="L'alternance repose sur un engagement mutuel. Connaître vos droits et devoirs, c'est avancer sereinement vers votre avenir professionnel !"
        class="mt-32"
      />
    </div>
  </div>
</MainLayout>
