---
import { formatDate } from '@/lib/date';

import type News from '@/interfaces/news';

interface Props {
  item: News;
}

const { item } = Astro.props;
---

<article
  class="flex max-w-xl flex-col items-start justify-between"
  itemscope
  itemtype="https://schema.org/NewsArticle"
>
  <div class="flex items-center gap-x-4 text-xs">
    <time datetime={item.publishedAt} class="text-muted-foreground" itemprop="datePublished">
      {formatDate(item.publishedAt)}
    </time>
  </div>

  <div class="group relative grow">
    <h3 class="text-foreground group-hover:text-muted-foreground mt-3 text-lg/6 font-semibold">
      <a href={`/actualites/${item.slug}`}>
        <span class="absolute inset-0" aria-hidden="true"></span>
        <span itemprop="headline">{item.title}</span>
      </a>
    </h3>

    {
      item.summary && (
        <p class="text-muted-foreground mt-5 line-clamp-3 text-sm/6" itemprop="description">
          {item.summary}
        </p>
      )
    }
  </div>
</article>
